body{
    font-family: 'Quicksand', monospace;
    margin:0;
    padding:0;
  }
  
  /* Style For Loading Screen */
  
  #content{
                  display:block;
  }
  #loader{
                  background-color:#f7f7f7;
                  width:100%;
           height:100%;
           position:absolute;
           overflow:hidden;
           display:none;	     				
  }
  #loader img{
        width: 20%;
        background-color:#F7F7F7;
        margin:20% auto auto auto;
        display:flex;
        justify-content:center;
        align-items:center;           
  }
  
  /* Banner Style */
  
  #banner ul li{
  list-style-type:none;
  display:inline-block;
  margin:0 10px 0 10px;
  }
  #banner{
  background-color:#FFFFFF;
  border-bottom:5px solid #F4F4F4;
  top:0;
  left:0;
  position:sticky;
  width:100%;
  margin: 0;
  }
  /* Menu style */
  #wg{
    display:none;
  }
  #menu h1{
  border-top:5px outset #F4F4F4;
  text-align:center;
  color:black;
  }
  #menu{
  background-color:white;
  border-right:3px solid #F4F4F4;
  border-bottom:3px solid #F4F4F4;
  color:white;
  padding:1% 3% 5% 1%;
  font-size:20px;
  display:none;
  position:fixed;
  overflow-y:auto;
  height:100%;
  margin-top:0;
  }
  #menu ul li{
  list-style-type:none;
  line-height:3;
  margin-right:10px;
  font-size:20px;
  color:black;
  
  }
  #menu ul li:hover{
  font-size:22px;
  text-decoration: underline;
  background-color:#f4f4f4;
  border-radius:10px;
  padding:3px;
  }
  #menu ul li a{
  text-decoration:none;
  color:black;
  outline:none;
  }
  #backForm{
      margin:4% 20% 10% 20%;
    width: 40%;
      justify-content: center;
      
      border:3px outset #f4f4f4;
      padding:5%;
      border-radius: 10px;
  }
  h2{
    text-align: center;
  }
  .boxes{
    border-radius: 5px;
    font-family: 'Quicksand', monospace;
    padding:2%;
   width:35%;
    font-weight: 650;
    
  }
  #submitBtn{
    width:150px;
    justify-content: center;
    margin: auto;
    background-image:linear-gradient(
  				to right, #7f00ff, #e100ff
  );

  border-color:#7f00ff ;
  font-size:15px;
  color:white;
  display:flex;
  text-align:center;
  padding:10px;
  border-radius:15px;
  font-family: 'Quicksand', monospace;
  font-weight:bold;
  }
  #submitBtn:hover{
    opacity: 0.8;
  }
  form{
    margin: auto;
    justify-content: center;
    width:auto;
  }
  #name{
    padding:5px;
  }
  #emailid{
    padding:5px;
  }
 #formLabel{
   font-size: 20px;
   font-weight: 550;
 }
  /* footer style */
#foot{
    background-color:#132030;	
    display:flex;
    margin:auto;
    color:white;		
}
#socialMedia{
            width:30%;
            margin:auto;
            color:white;
}
.info{
            width:30%;
            margin:auto;
            color:white;
}
/* Mobile View */

@media screen and (max-width:800px){
  #loader{
    background-color:#f7f7f7;
    width:100%;
   height:100%;
   position:absolute;
   overflow:hidden;
   display:block;	     				
}
#loader img{
  width: 30%;
  background-color:#F7F7F7;
  margin:50% auto;
  display:flex;
  justify-content:center;
  align-items:center;           
}
    #banner ul li h1{
    font-size:22px;
    }
    #banner ul li{
    margin:-5px 4px -9px 5px;
    }
    #lets{
    text-align:center;
    }
    #banner{
    border-bottom:3px solid #F4F4F4;
    margin-bottom:-20px;
    position:sticky;
    }
    #menu{
        font-size:20px;
        overflow-y:auto;
        }
        #menu ul li{
        font-size:15px;
        }
        #menu ul li:hover{
        font-size:18px;
        border-radius:5px;
        padding:2px;
        }

    
    #backForm{
      margin:7% 5% 10% 5%;
      width:80%;
     
    }
    .boxes{
      width:50%;
      
    }
   
    center{
      font-size: 15px;
    }
  }